@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");


.footer-container {
  display: flex;
  background:  #380b6c;
  justify-content: flex-end;
  align-items: flex-end;
  height: 350px;
}

.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  padding: 0;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.logo { 
    /* TENEMOS DOS FORMAS DE RESIZE UN .SVG */
    height: 55px; /* .svg solo escalan con height */
    /* transform: scale(0.6); */

    opacity: 0.75;
    margin-left: 10px;
    margin-right: 10px;
    /* filter: invert(7%) sepia(45%) saturate(6267%) hue-rotate(265deg) brightness(119%) contrast(106%); */
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(239deg) brightness(105%) contrast(105%);
}


.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.social-icon__link:hover {
  transform: translateY(-12px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
  color: #380b6c;
}

.close {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 22px;
  font-weight: 300;
  width: 100%;
  text-align: center;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-position-x: 0px;
  }
}