

/* Fuente de googleFonts */
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&family=Handjet:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@600&display=swap');
/* #r es id=r */
/* .r es class=r */

/* pseudoelemento de css q ese utiliza para definir variable globales */
:root { /* Aquí se definen las variables globales y personalizadas */
  

  /* Variables globales, q NO podemos llamar en otras partes del documento */
  font-family: 'Pixelify Sans', cursive, 'Fira Code', monospace, 'Handjet', cursive;
  color-scheme: light dark; /* Para que el navegador sepa que tenemos un modo oscuro y uno claro */
  
  /* Variable personalizada. se puede llamar en otras partes del doc con var(--background-color) */
  --background-color: blueviolet;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


/* Aquí se hace el style del body, luego cada página "hereda" y a lo más
podemos acceder a dar estilo a sus <main> a través de sus respectivos css */




